/*root elements*/
:root{
	--main-color: #19c8fa;
	--second-color: #a2a2a2;
	--transparent-color: rgba(15, 116, 143, 0.66);
	--transition-time: .3s;
}
/*html main elements*/
html{
	scroll-behavior: smooth;}
/*End the Variables*/
/*global values*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*google fonts*/
body{
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}
/*ul pre work*/
ul{
	list-style: none;
}
/*container is the most important element in the design*/
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	min-height: 97px;
}
/*media for bootstrap version 3*/
/*small devices*/
@media (min-width: 768px) {
	.container{
		width: 750px;
	}
	
}
/*medium devices*/
@media (min-width: 992px) {
	.container{
		width: 970px;
	}
	
}
/*large devices*/
@media (min-width: 1200px) {
	.container{
		width: 1170px;
	}
	
}

/*start header*/
header{
	position: absolute;
	left: 0;
	width: 100%;
	z-index: 2;
}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position : relative;
}
/*border with pesedu elements*/
header .container::after{
	content: "";
	width: calc(100% - 30px); /*all width - padding*/
	height: 1px;
	background-color: var(--second-color);
	position: absolute;
	bottom: 0;
	left: 15px;
}
header .logo img{
	height: 40px;
}
header nav{
	flex: 1; /* so it can get all the space */
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header nav .toggle-menu{
	color: white;
	font-size: 22px;
}
@media (min-width : 768px) {
	header nav .toggle-menu{
		display: none;
	}
}

header nav ul{
	display: flex;
}
@media (max-width : 767px) {
	header nav ul{
		display: none;
	}
	header nav .toggle-menu:hover + ul{
		display: flex;
		flex-direction: column;
		position : absolute;
		top: 100%;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	header nav .toggle-menu:hover{
		color: var(--main-color);
	}
	header nav .toggle-menu:hover + ul a{
		padding: 15px;
	}
	
}
header nav ul li a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 14px;
	transition: var(--transition-time);
	padding: 40px 10px;
	position: relative;
	z-index: 2;
}
header nav ul li a:hover,
header nav ul li a:active,
header nav .form i:hover,
.active{
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
	
}
header nav .form{
	width: 40px;
	height: 30px;
	position : relative;
	margin-left: 50px;
	border-left: 1px solid white;
}
header nav .form i{
	color: white;
	position: absolute;
	font-size: 20px;
	/*to make the search at center*/
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
/*end header*/

/*start landing*/

.landing{
	min-height : 100vh;
	background-color: var(--main-color);
	background-image: url("../images/landing.jpg");
	background-size: cover;
	position: relative;
}
.landing .overlay{
	position: absolute;
	top:0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	}
.landing .text{
	position : absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	width: 50%;
	color: white;
	padding: 50px;
	background-color: var(--transparent-color);
	display: flex;
	justify-content: flex-end;
}

.landing .text .content{
	max-width: 500px;
}
@media (max-width : 767px) {
	.landing .text{
		width: 100%;
	}
	.landing .text .content{
		max-width: 100%;
	}
}
.landing .text .content h2{
	font-size: 32px;
	font-weight: normal;
	line-height: 1.5;
	margin-bottom: 20px;
	
}
.landing .text .content p{
	font-size: 14px;
	line-height: 2;
}
/*the arows and bullets*/
.landing .change-background{
	position : absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #ddd
}
@media (max-width : 767px){
	.landing .change-background{
		display: none;
	}
}
.landing i:first-of-type{
	left: 30px;
}
.landing i:last-of-type{
	right: 30px;
}
.landing .bullets{
	position: absolute;
	left: 50%;
	bottom: 20px;
	transform: translateX(-50%);
	display: flex;
}
.landing .bullets li{
	width: 20px;
	height: 20px;
	border: 1px solid white;
	border-radius: 50%;
	margin-right: 10px;
}
.landing .bullets li.active{
	background-color: var(--main-color);
	border-color: var(--main-color);
}
/*end landing*/
