/*root elements*/
:root{
	--main-color: #19c8fa;
	--second-color: #a2a2a2;
	--transition-time: .3s;
}
/*html main elements*/
html{
	scroll-behavior: smooth;}
/*End the Variables*/
/*global values*/
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
/*google fonts*/
body{
	font-family: 'Open Sans', sans-serif;
	background-color: black;
}
/*ul pre work*/
ul{
	list-style: none;
}
/*container is the most important element in the design*/
.container{
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
/*media for bootstrap version 3*/
/*small devices*/
@media (min-width: 768px) {
	.container{
		width: 750px;
	}
	
}
/*medium devices*/
@media (min-width: 992px) {
	.container{
		width: 970px;
	}
	
}
/*large devices*/
@media (min-width: 1200px) {
	.container{
		width: 1170px;
	}
	
}

/*start header*/
header{

}
header .container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position : relative;
}
/*border with pesedu elements*/
header .container::after{
	content: "";
	width: calc(100% - 30px); /*all width - padding*/
	height: 1px;
	background-color: var(--second-color);
	position: absolute;
	bottom: 0;
	left: 15px;
}
header .logo img{
	height: 40px;
}
header nav{
	flex: 1; /* so it can get all the space */
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
header nav ul{
	display: flex;
}
header nav ul li a{
	display: block;
	color: white;
	text-decoration: none;
	font-size: 14px;
	transition: var(--transition-time);
	padding: 40px 10px;
	position: relative;
	z-index: 2;
}
header nav ul li a:hover,
header nav ul li a:active,
.active{
	color: var(--main-color);
	border-bottom: 1px solid var(--main-color);
	
}
header nav .form{
	width: 40px;
	height: 30px;
	position : relative;
	margin-left: 50px;
	border-left: 1px solid white;
}
header nav .form i{
	color: white;
	position: absolute;
	font-size: 20px;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	
}


/*end header*/
